.btn {
  position: relative;
  display: inline-block;
  line-height: $btn-line-height;
  font-weight: $btn-font-weight;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: center;
  background-image: none;
  border: $btn-border-width solid transparent;
  // padding: $btn-padding-y $btn-padding-x;
  // font-size: $btn-font-size;
  // border-radius: $btn-border-radius;
  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    $btn-font-size,
    $btn-border-radius
  );
  box-shadow: $btn-box-shadow;
  cursor: pointer;
  transition: $btn-transition;
  &[disabled],
  &.disabled {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }
}
